<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acadroidquizadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Reasoning.ReasoningActivity"></activity>
        <activity android:name=".Reasoning.AddQuestionReasoningActivity" />
        <activity android:name=".Logical.TypeQuestionLogicalActivity" />
        <activity android:name=".Logical.AddQuestionLogicalActivity" />
        <activity android:name=".Logical.LogicalSetsActivity" />
        <activity android:name=".Logical.LogicalActivity" />
        <activity android:name=".SpeedMath.TypeQuestionSMActivity" />
        <activity android:name=".SpeedMath.AddQuestionSMActivity" />
        <activity android:name=".SpeedMath.SpeedmathSetsActivity" />
        <activity android:name=".SpeedMath.SpeedmathActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".DemoActivity" />
        <activity android:name=".Category.TypeQuestionActivity" />
        <activity android:name=".Category.AddQuestionActivity" />
        <activity android:name=".Category.SetsActivity" />
        <activity android:name=".Category.CategoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID DEMO: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Sample AdMob App ID REAL: ca-app-pub-7011058460306280/5455598046 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>